
<h1><%= @robot.name %></h1>
<div class="wrapper">
  <ul class="list-group">
    <li class="list-group-item">CITY: <em><%= @robot.city %></em></li>
    <li class="list-group-item">STATE: <em><%= @robot.state %></em></li>
    <li class="list-group-item">DEPARTMENT: <em><%= @robot.department %></em></li>
  </ul>
  <div class="list-group">
    <a class="btn btn-warning" href="/robots/<%= @robot.id %>/edit"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    <form class="delete-form" action="/robots/<%= @robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE" />
      <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
  </div>
</div>



